.navbar-nav li a{
    color: white;
}
.navbar-brand img{
    height: 35px;
    width: 30px;
}
.image img{
    height: 35px;
    width: 35px;
}
.idea{
    color: white;
    padding: 0 10px;
}
.first h2{
    color: #562EFF;
}
.first{
   padding:40px;
   background-color: white;
   margin-top:20px ;
}

body{
    background-color: #E5E5E5;
}
.grid-container{
    display: grid;
    grid-template-columns:auto auto auto;
    margin-top: 40px;
    justify-content: space-between;

}
.grid img{
    height: 50px;
    width: 50px;
}
.grid{
    padding:20px;
}
.second{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 40px;
    justify-content: space-between;
}
.grid_b img{
    height: 100px;
    width: 200px;
}
.grid_b{
    margin: 10px 20px;
}
.text h5{
    padding-top: 10px ;
}
.text p{
color: #9F9F9F;
}
.a{
   margin-right:20px;
}
@media screen and (max-width: 850px){
    .grid_b img{
        height: 50px;
        width: 100px;
    }
    .a h5{
        font-size:15px ;
    }
    .a p{
        font-size: 10px;
    }
}
@media screen and (min-width:850px ){
    .grid_b img{
        height: 100px;
        width: 150px;
    }
    .a h5{
        font-size:18px ;
    }
    .a p{
        font-size: 14px;
    }
}
.b{
    color:#562EFF ;
}
.last{
    background-color: white;
   margin-top:20px ;
   padding:40px;
}
.last h2{
    color: #562EFF;
}
.card-text{
    color: #ED6B4F;
}
.card-footer {
    border: none;
}
.card-footer img{
    height: 15px;
    width: 15px;
}
 

/* RATING STAR */
.rating input{
    display: none;
   margin-right: 5px;
}
.rating label{
    cursor: pointer;
    margin-left: 3px;
}
.rating{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}
/* [this one is important and the cdn part also] */
.rating label::before{
   content: '\f005'; /* this is the unicode of that icon  */
   font-family: fontAwesome;
   position: absolute;
   display: block;
   color: lightgrey;
}
.rating label::after{
    content: '\f005';
    font-family: fontAwesome;
   position: relative;
    display: block;
    color: goldenrod;
    opacity: 0;
    text-shadow: 0 2px 2px rgba(0,0,0,.3);
    transition: .5s;
    top:0;
   
 }
 .rating label:hover:after,
 .rating input:checked ~ label:after{
opacity: 1;
 }
 
.btn{
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius: 50px;
    height: 30px;
    width: 90px;
    margin-top: -20px;
    font-size: 12px;
}

.btn img{
height: 15px;
width: 15px;
margin-right:5px ;
margin-top: -5px;
}